.DS_Store
.autotest
.bundle
.rspec
.yardoc
*~
*.cache
*.pid
*.sw?
schema.rb
*.sqlite3
autotest/
coverage/
doc/
log/
pkg/
tmp/
config/environment.rb
config/database.yml
railties/**/db/schema.rb
railties/**/db/*.sqlite3
Gemfile.lock
spec/**/app/views/nsweb
spec/**/public/images/nsweb
spec/**/public/javascripts/nsweb
spec/**/public/stylesheets/nsweb
tags
